*{
	font-family: 'Roboto', sans-serif;
}
#background-container{
	width:100%;
	background: #721D93;
    background-image: url("../img/mesh-for-web.png");	
    background-image: url("../img/mesh-for-web.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0, #721D93), color-stop(1, #17A7F4));
    background-image: url("../img/mesh-for-web.png"), -o-linear-gradient(bottom, #721D93 0%, #17A7F4 100%);
    background-image: url("../img/mesh-for-web.png"), -moz-linear-gradient(bottom, #721D93 0%, #17A7F4 100%);
    background-image: url("../img/mesh-for-web.png"), -webkit-linear-gradient(bottom, #721D93 0%, #17A7F4 100%);
    background-image: url("../img/mesh-for-web.png"), -ms-linear-gradient(bottom, #721D93 0%, #17A7F4 100%);
    background-image: url("../img/mesh-for-web.png"), linear-gradient(to bottom, #721D93 0%, #17A7F4 100%);
}
#firstRow{
	margin-top:15px;
}
#secRow{
	padding:15px 0 15px 0;
	color:white;
}
#title{
	font-size:x-large;
	font-weight: 100;
}
.days{
	font-weight: 100;
	font-size:x-large;
}
.table-header{
	background-color:rgb(252, 252, 252);
	color:rgba(94, 0, 126, 0.83);
	opacity:.8;
	font-size:small;
	font-weight: 400;
}
.table-box {
	color:white;
	border: 1px solid white;
    border-collapse: separate;
	font-weight: 300;
	font-size:large;
}
.table>thead>tr>th{
	border-bottom-style:none;
}